<h1>ブログ一覧</h1>

<% @blogs.each do |blog| %>
    <p>タイトル：<%= blog.title %></p>
    <p>本文：<%= blog.content %></p>
<% end %>
<p><%= link_to 'ブログを作成する', new_blog_path %></p>
<p><%= link_to 'お問い合わせ一覧画面', contacts_path %></p>
