<div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h1>新規タスク作成</h1>
    <%= render 'form' %>
    <%= link_to '戻る', user_tasks_path(@task.user_id), class: 'btn btn-default' %>
</div>
