<p><%= @contact.name %> 様</p>
この度はお問い合わせいただき、誠にありがとうございます。<br>
<br>
お問い合わせ内容を確認次第、担当者から回答をお送りします。<br>
今しばらくお待ちください。<br>
<h4>【お客様のお問い合わせ内容】</h4>
-------------------------------------------------------------------<br>
・お問い合わせ日時：<%= localize(@contact.created_at, format: :long) %>
・お問い合わせ内容：<%= simple_format(@contact.content) %>
-------------------------------------------------------------------<br>
<br>
なお、お問い合わせの内容によりましては、<br>
回答までにお時間をいただく場合もございますので、<br>
何卒ご了承ください。<br>
<br>
※このメールは自動返信でお送りしています。<br>
お問い合わせについて覚えがない場合には、<br>
本メールを削除くださいますようお願いいたします。<br>
<br>
-------------------------------------------<br>
Achieve運営事務局<br>
▼公式サイト<br>
<%= link_to 'http://dive-into-code-achieve-eh0709.herokuapp.com', 'http://dive-into-code-achieve-eh0709.herokuapp.com' %><br>
-------------------------------------------<br>
