<h1>Achieveに新しくブログが投稿されました！</h1>
<h4>タイトル: <%= @blog.title %></h4>
<p>内容: <%= simple_format(@blog.content) %></p>
<p><%= link_to '投稿されたブログ一覧はこちら', 'http://dive-into-code-achieve-eh0709.herokuapp.com/blogs' %></p>
