// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	margin: auto auto;
	border: 1px solid #ccc;
}
th {
	margin: auto auto;
	border: 1px solid #ccc;
}
td {
	margin: auto auto;
	text-align: left;
	border: 1px solid #ccc;
}
